<div class="no-posts-box">
    <div class="no-posts">
        <h3>You haven't added any Areas yet!</h3>
        {{#link-to "settings.areas.new"}}<button type="button" class="btn btn-green btn-lg" title="New Area">Add a Area</button>{{/link-to}}
    </div>
</div>
