<div class="no-posts-box">
    <div class="no-posts">
        <h3>You haven't added any Categories yet!</h3>
        {{#link-to "settings.categories.new"}}<button type="button" class="btn btn-green btn-lg" title="New Category">Add a Category</button>{{/link-to}}
    </div>
</div>
